/.vscode
/node_modules
/public/dist/*
/public/hot
/public/images
/public/images/*
/public/assets
/public/assets/*
/public/storage
/public/storage/*
/public/upload
/public/upload/*
/public/fonts
/public/fonts/*
/public/sw.js
/public/mix-manifest.json
/storage/*.key
/storage/*.pem
/vendor
/app/MainApp
/app/MainApp/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
package.json
package-lock.json
composer.lock.bak
error_log
*.ini
.DS_Store
firebase_credentials.json

/firebase_credentials.json

/firebase_credentials.json
